[submodule "themes/yinyang"]
	path = themes/yinyang
	url = https://github.com/joway/hugo-theme-yinyang.git
[submodule "public"]
	path = public
	url = https://github.com/mikihau/mikihau.github.io.git
	branch = master
[submodule "themes/hugo-journal"]
	path = themes/hugo-journal
	url = https://github.com/dashdashzako/hugo-journal.git
